.ipynb_checkpoints
data/data
data/mapped
data/seqs
data/bigwig
data/reference
data/metaseq-example/
data/results
data/pathways
temp/*
references
GO_Biological_Process_2015
wikipathway
.nextflow.*
.nextflow/*
work/*
data/GEO
data/bams
GSEA_
**/*.bam
**/*.fastq
**/*.bai