.ipynb_checkpoints
data/mapped
data/seqs
data/bigwig
data/reference
data/metaseq-example/
data/pathways
temp/*
results/*/large/*
data/*/large/*
Icon^M
**/Icon^M
Icon\\r
**/Icon\\r
references
wikipathway
data/*/narrowPeak
.nextflow
work/*
data/GEO
data/bams
GSEA_
**/*.bam
**/*.fastq
**/*.bai
**/*.hic
**/*.bw
**/Icon
